.TopBar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.TopBar__date {
  color: rgba(206, 206, 206, 0.3);
  font-weight: 400;
  font-size: 1.4rem;
}

.TopBar__hour {
  color: rgba(206, 206, 206, 0.3);
  margin: 0 20px;
  font-weight: 700;
  font-size: 1.4rem;
}

.TopBar__hour span {
  animation: blink 1s infinite;
  margin: 0 2px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50%,
  80% {
    opacity: 1;
  }
}
