.CurrentTemp {
  background: linear-gradient(100deg, #43a4d5, #2a3bd2);
  height: 270px;
  width: 320px;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CurrentTemp__Title {
  display: flex;
  width: 100%;
}

.CurrentTemp__Title div {
  width: 50%;
}

.CurrentTemp__Title span {
  text-align: center;
  font-size: 1.2rem;
  margin: 20px 20px;
  color: #d9d9d9;
  font-weight: 200;
}

.CurrentTemp__Title span::first-letter {
  text-transform: uppercase;
}

.CurrentTemp h1 {
  font-size: 10rem;
  color: #d9d9d9;
  margin: 0;
  display: flex;
  line-height: 100%;
  margin-right: -1.75rem;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.CurrentTemp h1 span {
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: -40px;
}

.CurrentTemp img {
  position: absolute;
  height: 200px;
  top: -80px;
  left: -70px;
}
