.MainBar {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 70px 100px;
}

.MainBar__current-temp {
  background: linear-gradient(100deg, #43a4d5, #2a3bd2);
  height: 270px;
  width: 320px;
  border-radius: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainBar__current-temp span {
  width: 75%;
  text-align: end;
  font-size: 1.2rem;
  margin: 20px 0;
  color: #d9d9d9;
  font-weight: 200;
}

.MainBar__current-temp h1 {
  font-size: 10rem;
  color: #d9d9d9;
  margin: 0;
  display: flex;
  line-height: 100%;
  margin-right: -1.75rem;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.MainBar__current-temp h1 span {
  font-size: 3.5rem;
  font-weight: 400;
  margin-top: -40px;
}

.MainBar__current-temp img {
  position: absolute;
  height: 200px;
  top: -75px;
  left: -75px;
}
