.App {
  height: 100vh;
  width: 100%;
  background-color: #1f1f1f;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: #d9d9d9;
  font-weight: 600;
}
