.BottomBar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.BottomBar__menu {
  display: flex;
  padding-left: 40px;
  width: 100%;
}

.BottomBar__tab h2 {
  color: #d9d9d9;
  font-weight: 400;
  font-size: 22px;
  opacity: 0.5;
  cursor: pointer;
  margin: 0 20px;
  transition: all 0.3s;
}

.actived h2 {
  opacity: 1;
  font-weight: 500;
  transition: all 0.5s;
}

.BottomBar__menu h2:hover {
  opacity: 0.8;
}
